.intro {
  display: flex;
  flex-direction: column;
}
.intro .section-title {
  order: -1;
}
.intro__title {
  max-width: 36rem;
}
@media (min-width: 768px) {
  .intro__title {
    max-width: 80%;
  }
}
@media (min-width: 1024px) {
  .intro__title {
    max-width: 96.93287vw;
  }
}
