.module-subtitle-title .section-title {
  padding-bottom: unset;
}
.module-subtitle-title__content {
  padding-right: 2rem;
  padding-top: 0.5rem;
}
@media (max-width: 767px) {
  .module-subtitle-title__content br {
    display: none;
  }
}
@media (min-width: 1024px) {
  .module-subtitle-title__content {
    padding-right: unset;
    padding-top: unset;
  }
}
